---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, subtitle = "", description, pubDate, updatedDate, heroImage, tags = [] } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<style>
		main {
			width: calc(100% - 2em);
			max-width: 100%;
			margin: 0;
		}

		.hero-image {
			width: 100%;
		}

		.hero-image img {
			display: block;
			margin: 0 auto;
			border-radius: 12px;
			box-shadow: var(--box-shadow);
		}

		.prose {
			width: 720px;
			max-width: calc(100% - 2em);
			margin: auto;
			padding: 1em;
			color: var(--font-color);
			overflow: auto;
		}

		.title {
			margin-bottom: 1em;
			padding: 1em 0;
			text-align: center;
			line-height: 1;
		}

		.title h1 {
			margin: 0 0 0.5em 0;
		}

		.date {
			margin-bottom: 0.5em;
			color: rgb(var(--gray));
		}

		.last-updated-on {
			font-style: italic;
		}

		.title .tags {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.title .tags a {
			margin: 0.25em;
			border: solid 1px #a1a1a1;
			border-radius: .5em;
			padding: .5em 1em;
			font-size: 0.75em;
			background-color: #f8fcfd;
		}
	</style>

	<main>
		<article>
			<div class="hero-image">
				{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
			</div>
			<div class="prose">
				<div class="title">
					<div class="date">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1>{title}</h1>
					<h3>{subtitle}</h3>
					<div class="tags">
						{tags.map((tag) => <a href={`/tags/${encodeURIComponent(tag)}`}>{tag}</a>)}
					</div>
					<hr />
				</div>
				<slot />
			</div>
		</article>
	</main>
</BaseLayout>
